html, body {
  box-sizing: border-box;
  font-family: 'Raleway';
  background: #f9f9f9;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  outline: none;
  border: none;
}
nav {
  position: fixed;
  background: #FFFFFF;
  top:0;
  width: 100%;
  transition:all 0.5s;
  z-index: 1;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
  justify-content: center;
}

nav li {
  text-align: center;
}

nav a:hover {
  background: #F5F5F5;
}

nav a {
  text-decoration: none;
  padding:20px;
  display: inline-block;
  color: black;
  transition: all .2s;
  width: 100px;
  
  /* text-transform: uppercase; */
}

.add_post {
  display: block;
  padding: 10px;
  margin-top: 12px;
  margin-left: 30px;
  background: #b92b27;
  border-radius: 2px;
  transition: all .2s;
}

button.add_post {
  font-weight: 600;
  background: #c00000;
  font-family: "Raleway";
  color: #f4f4f4;
  cursor: pointer;
}

button.add_post:hover {
  background:#c00000a1;
  color: #f4f4f4;
}

.site-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  width: 900px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 150px;
  padding: 5px;
  margin: 2px;
}

.card.notverified {
  background: rgba(255, 113, 70, .2);
}

.card.verified {
  background: rgba(1, 165, 141, .1);
}
img {
  display: flex;
  flex: 8;
  height: 30%;
}
.card_title {
  flex: 1;
  margin-top: 3px;
  font-size: 14px;
  font-weight: 200;
}
.card_athor {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
}


.auth_container {
  min-height: 100vh;
  background: #f9f9f9;
  padding: 100px 0;
}
.auth_container label{
    color: #666;
    margin:10px;
    font-size: 1em;
    color: #005792;
    font-family: "Open Sans";
    margin-bottom: 2em;
    font-weight: bold;
    color: #666;
}

.auth__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
  width: 500px;
  max-width: 100%;
  background: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.auth__title {

  text-align: center;
  margin: 20px;
  font-family: "Raleway";
  font-size: 2em;
  margin: .5em;
  color: #666
}

/* .input,
.textarea,
.select {
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #d6d6d6;
  color: #303036;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 1rem;
  font-family: "open sans";
  outline: none;
  margin: 10px;
} */

.form-control{
  width: 100%;
  height: 4em;
  padding: 1em;
  border: 1px solid #efefef;
  color: #888;
  margin-bottom: 2em;
  font-size: 0.9em;
  font-family: "Raleway";
  margin-top: 1em;
}

.submit-btn {
  width: 100%;
  height: 3em;
  padding: 5px;
  background: #c00000;
  color:#f4f4f4;
   font-family: "Open Sans";
   font-size: 1em;
   transition: .3s ease-in;
   cursor: pointer;
}

.submit-btn:active {
  background: #c00000a1;
}
.submit-btn:hover {
  background: #c00000a1;
}

label {
  margin: 10px;
}

.input:focus,
.textarea:focus,
.select:focus {
  border-color: #909094;
  background: #fff;
}

.seprator {
  margin: 10px auto;
}



textarea {
  max-width: 100%;
  resize: none
}
/* tablette size" */
@media screen and (max-width: 920px) {
  .site-wrap {
    width: 500px;
  }
}

/* phone size" */
@media screen and (max-width: 500px) {
  .site-wrap {
    width: 200px;
  }
}

